@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.mediaCardImageContainer {
  //   @include border;

  height: 200px;
  @include flex-center;
  @include border;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    box-sizing: border-box;
    padding: 10px;
  }
}

.mediaCardContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.mediaCardTitle {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
