@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.gridItem {
  margin-bottom: 20px;
  &:nth-child(1) {
    box-sizing: border-box;
    padding-left: 20px;
  }
  &:nth-child(2) {
    @include flex-center;
    justify-content: end;
    box-sizing: border-box;
    padding-right: 20px;
  }
}
