@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.gridItem {
  background-color: $white-color;

  &:nth-child(2) {
    background-color: transparent !important;
  }
}

.header {
  @include flex-center;
  background-color: $white-color;
  min-height: 100px;
  @include border;
}
